<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

              <a class="tweet-link" href="/brutedeforce/status/1596959684476354560#m"></a>
              <div class="tweet-body">
                <div><div class="tweet-header">
                    <a class="tweet-avatar" href="/brutedeforce"><img class="avatar round" src="/pic/profile_images%2F1550646983072788484%2F5Smrk387_bigger.jpg" alt=""></a>
                    <div class="tweet-name-row">
                      <div class="fullname-and-username">
                        <a class="fullname" href="/brutedeforce" title="brute de force">brute de force</a>
                        <a class="username" href="/brutedeforce" title="@brutedeforce">@brutedeforce</a>
                      </div>
                      <span class="tweet-date"><a href="/brutedeforce/status/1596959684476354560#m" title="Nov 27, 2022 · 8:10 PM UTC">18h</a></span>
                    </div>
                  </div></div>
                <div class="tweet-content media-body" dir="auto">Heavy strength training corrects your aura.  It’ll give you the thousand yard stare &amp; fry your CNS to the point you no longer have a wandering mind.  Can pinpoint focus on a monolithic objective once you have that.  men operate at a higher level when they’re tired as fuck</div>
                <div class="quote quote-big">
                  <a class="quote-link" href="/majesticmess_/status/1596958831833100289#m"></a>
                  <div class="tweet-name-row">
                    <div class="fullname-and-username">
                      <img class="avatar round mini" src="/pic/profile_images%2F1593375705844355073%2Fy4pcFsnt_mini.jpg">
                      <a class="fullname" href="/majesticmess_" title="Maje§tic Madne§§">Maje§tic Madne§§</a>
                      <a class="username" href="/majesticmess_" title="@majesticmess_">@majesticmess_</a>
                    </div>
                    <span class="tweet-date"><a href="/majesticmess_/status/1596958831833100289#m" title="Nov 27, 2022 · 8:07 PM UTC">18h</a></span>
                  </div>
                  <div class="replying-to">Replying to <a href="/brutedeforce">@brutedeforce</a></div>
                  <div class="quote-text" dir="auto">Some people get into a deep depression that is almost impossible to come out of when something bad happens in their life.  
Not everyone can use that as motivation to better themselves.</div>
                </div>
                <div class="tweet-stats">
                  <span class="tweet-stat"><div class="icon-container"><span class="icon-comment" title=""></span> 12</div></span>
                  <span class="tweet-stat"><div class="icon-container"><span class="icon-retweet" title=""></span> 31</div></span>
                  <span class="tweet-stat"><div class="icon-container"><span class="icon-quote" title=""></span> 3</div></span>
                  <span class="tweet-stat"><div class="icon-container"><span class="icon-heart" title=""></span> 455</div></span>
                </div>
              </div>
            





</body>
</html>